* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

:root {
    --primary-color: #313541;
    --secondary-color: #242730;
    --tertiary-color: #e8deee;
    --quaternary-color: #df9e50;
    --primary-red: #ff8983;
    --secondary-red: #c25452;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color); 
}

body::after {
    content: '';
    background: url(../assets/scenic-view-of-mountains-during-dawn-1261728.jpg) no-repeat center center / cover;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
}

header {
    background-color: rgba(36, 39, 48, 0.5);
    padding: 32px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 22px;
}

.links a {
    text-decoration: none;
    color: var(--tertiary-color);
    position: relative;
}

.links a + a {
    margin-left: 32px;
}

.links a.active {
    font-weight: bold;
    color: var(--quaternary-color);
}

.links a:hover {
    color: var(--quaternary-color);
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--quaternary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after {
    width: 100%;
    transition: width 200ms ease-in-out;
}

/* Card */

.card {
    width: 900px;
    min-height: 400px;
    background-color: rgba(232, 222, 238, 0.05);
    margin: 32px auto;
    border-radius: 16px;

    display: grid;
    grid-template-columns: 40% 60%;
    box-shadow: 0px 4px -1px rgba(0, 0, 0, 0.4);
    opacity: 0;

    animation-name: down;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
}

.card .avatar {
    border-radius: 16px 0 0 16px;
}

@keyframes down{
    from{
        transform: translateY(-30px);
    }
    to{
        opacity: 1;
    }
}

.details {
    padding: 32px ;
    position: relative;
}

.details .item {
    margin: 16px 0;
    border-top: 2px solid rgba(197, 197, 197, 0.3);
}



.details h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #999;
    font-weight: normal;
    margin-top: 8px;
    letter-spacing: 0.8px;
}

.details .item div:nth-child(2) {
    font-size: 16px;
    line-height: 24px;
    color: var(--tertiary-color);
    font-weight: bold;
    margin-top: 4px;
    letter-spacing: 2px;
}

.details h3 {
    text-transform: uppercase;
    color: var(--quaternary-color);
    font-weight: bold;
}

.details .item span {
    display: inline-block;
    background-color: var(--quaternary-color);
    color: var(--tertiary-color);
    margin-right: 4px;
    margin-top: 4px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 4px 16px;
    border-radius: 16px;
}

.details .item span:hover {
    background-color: var(--primary-color);
}

/* Create */

.details input, .details select {
    width: 100%;
    outline: none;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    background-color: #d5cbdb;
    font-size: 16px;
    line-height: 24px;
    color: #555;
    font-weight: bold;
    margin-top: 8px;
}

.details input[type='radio'] {
    width: initial;
    margin-right: 4px;
}

.details input::placeholder {
    font-size: 14px;
    color: #999;
    font-weight: normal;
}

.details button[type='submit']:hover, .edit:hover {
    transition: 500ms;
}

.details button[type='submit'], .edit {
    width: 100%;
    margin-top: 16px;
    font-weight: bold;
    background-color: var(--quaternary-color);
    color: var(--tertiary-color);
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
}

.edit {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
}

.details button[type='submit']:hover, .edit:hover {
    background-color: var(--primary-color);
}

#form-delete button[type='submit'] {
    background-color: var(--primary-red);
}

#form-delete button[type='submit']:hover {
    background-color: var(--secondary-red);
}

/* Listar Professores */

.table-info {
    display: grid;
    grid-template: 64px 1fr 16px / 1fr;
    gap: 16px;
    box-sizing: border-box;
    padding: 16px 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.table-info table {
    border-spacing: 0;
    margin: auto 0;
}

.table-info thead tr th {
    padding: 8px 16px;
    text-align: left;
}

.table-info thead {
    color: #999;
}

td {
    color: var(--tertiary-color);
    padding: 20px 16px;
}

.table-info tbody tr td {
    background-color: rgba(36, 39, 48, 0.5);
    align-items: center;
    
}

.table-info tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
}

.table-info tbody tr td:first-child span {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    
}

.table-info tbody tr td:last-child a, .table-info a, .table-header button[type="submit"] {
    background-color: var(--quaternary-color);
    border-radius: 4px;
    padding: 8px 16px;
    color: var(--tertiary-color);
    text-decoration: none;
    text-align: center;
}

.table-info > a {
    display: inline-block;
    margin-bottom: 16px;
    margin-left: 73%;
}

.table-info tbody tr td:last-child a:hover, .table-info a:hover {
    transition: background 350ms;
    background-color: var(--secondary-color);
}
.table-info thead tr th:last-child, td:last-child {
    text-align: center;
}

/* Filter */
.table-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 40px;
    margin: auto 0;
}

.table-header a {
    width: 200px;
    margin-left: auto;
}

.table-header form {
    display: grid;
    grid-template-columns: 1fr 150px;
    gap: 8px;
}

.table-header form input {
    box-sizing: border-box;
    height: 100%;
    outline: none;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    background-color: #d5cbdb;
    font-size: 16px;
    line-height: 24px;
    color: #555;
    font-weight: bold;
}

.table-header form button[type="submit"] {
    border: none;
    cursor: pointer;
    font-weight: bold;
}

/* Pagination */
.pagination {
    align-self: center;
    color: var(--tertiary-color);
    margin: 0 auto;
}

.pagination a {
    background: none;
}

.pagination a:hover {
    background: none;
    color: var(--quaternary-color);
}