{% extends "layout.njk" %}

{% block content %}
    <div class="card table-info">
        <div class="table-header">
            <form action="/teachers" method="get">
                <input type="text" name="filter" placeholder="Filtrar pelo nome ou matérias" value='{{filter}}'>
                <button type="submit">Filtrar</button>
            </form>
            <a href="teachers/create">Cadastrar Professor</a>
        </div>
        <table width="100%">
            <thead>
                <tr>
                    <th>Professor</th>
                    <th>Matérias</th>
                    <th>Alunos</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td>
                            <span style="background-image: url({{teacher.avatar_url}})"></span>
                            {{teacher.name}}
                        </td>
                        <td>{{teacher.subjects}}</td>
                        <td>{{teacher.total_students}}</td>
                        <td><a href="/teachers/{{teacher.id}}">Ver</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination" data-total={{pagination.total}} data-page={{pagination.page}} data-filter={{filter}}></div>
    </div>
{% endblock content %}