<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Icon -->
        <!-- Fonte -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <!-- CSS -->
        <link rel="stylesheet" href="/CSS/style.css">

        {% block head %}
            <title>Aulas Particulares</title>
        {% endblock head %}
    </head>
    <body>
        <!-- Menu -->
        <header>
            <div class="links">
                <a href="/teachers">Professores</a>
                <a href="/students">Alunos</a>
            </div>
        </header>

        {% block content %}{% endblock content %}
    <script src="/JS/script.js"></script>
    </body>
</html>