<script>
    const formDelete = document.querySelector('#form-delete')
    formDelete.addEventListener('submit', (event)=>{
        const confirmation = confirm('Deseja confirmar a ação?')
        if(!confirmation)
        event.preventDefault()
    })
</script>